extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- My Name.
        h1 Tristan Young

        //- My Title
        p.lead.text-light
          | Full Stack JavaScript Developer Apprentice.

        //- bio
        .portfolio-bio
          p
            | Hello World! My name is Tristan Young. 
            | My current role is a Developer Apprentice with a concentration on Fullstack Javascript. 
            | I am a Digital Marketing professional who has recently transitioned into web development. 
            | I see great value in learning multiple programming languages and I am dedicated to learning the skills needed to be an asset to any organization.
            | This is a portfolio of 5 projects that I have completed through the TeamTreehouse talent path program.
             
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Web Development Skills
        ul
          li Express
          li Pug
          li HTML
          li CSS
          li jQuery
          li JSON
          li Fullstack Javascript
          li AJAX
          li OOP
          li SQL
          li Node
          li API
          li Wordpress
          li Google Analytics
        h6 Contact Info

        //- contact info
        ul
          li 817-966-5093
          li ytristan52@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/tristan-young-lion-543235109/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/youtr5r?tab=repositories', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back